In [614]:
%matplotlib notebook

In [615]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime
import matplotlib.dates as mdates

In [616]:
crimes_df = "Graph Check.csv"

crimes_df = pd.read_csv(crimes_df, encoding="utf=8")

crimes_df

          Date     Primary Type  Year
0       Sep-17            THEFT  2017
1       Jul-17            THEFT  2017
2       Feb-17  CRIMINAL DAMAGE  2017
3       Jul-17            THEFT  2017
4       Jul-17            THEFT  2017
...        ...              ...   ...
638246  Oct-21            THEFT  2021
638247  Aug-21            THEFT  2021
638248  Dec-21            THEFT  2021
638249  Jul-21            THEFT  2021
638250  Aug-21  CRIMINAL DAMAGE  2021

[638251 rows x 3 columns]

In [617]:
crimes_df.count()

Date            638251
Primary Type    638251
Year            638251
dtype: int64

In [618]:
crimes_df = crimes_df.dropna(how='any')

In [619]:
crimes_df.count()

Date            638251
Primary Type    638251
Year            638251
dtype: int64

In [620]:
crimes_df.dtypes

Date            object
Primary Type    object
Year             int64
dtype: object

In [621]:
crimes_df

          Date     Primary Type  Year
0       Sep-17            THEFT  2017
1       Jul-17            THEFT  2017
2       Feb-17  CRIMINAL DAMAGE  2017
3       Jul-17            THEFT  2017
4       Jul-17            THEFT  2017
...        ...              ...   ...
638246  Oct-21            THEFT  2021
638247  Aug-21            THEFT  2021
638248  Dec-21            THEFT  2021
638249  Jul-21            THEFT  2021
638250  Aug-21  CRIMINAL DAMAGE  2021

[638251 rows x 3 columns]

In [622]:
crime_type = crimes_df["Primary Type"].unique()
crime_type

array(['THEFT', 'CRIMINAL DAMAGE', 'BATTERY'], dtype=object)

In [623]:
crime_type = len(crimes_df["Primary Type"].unique())
crime_type

3

In [624]:
crime_type = pd.value_counts(crimes_df["Primary Type"])
crime_type

THEFT              274204
BATTERY            230531
CRIMINAL DAMAGE    133516
Name: Primary Type, dtype: int64

In [625]:
crimes_2017 = crimes_df.loc[crimes_df["Year"] == 2017]
crimes_2017

          Date     Primary Type  Year
0       Sep-17            THEFT  2017
1       Jul-17            THEFT  2017
2       Feb-17  CRIMINAL DAMAGE  2017
3       Jul-17            THEFT  2017
4       Jul-17            THEFT  2017
...        ...              ...   ...
142657  Dec-17          BATTERY  2017
142658  Dec-17            THEFT  2017
142659  Dec-17            THEFT  2017
142660  Dec-17          BATTERY  2017
142661  Nov-17          BATTERY  2017

[142662 rows x 3 columns]

In [626]:
crime_2017 = pd.value_counts(crimes_2017["Primary Type"])
crime_2017

THEFT              64380
BATTERY            49238
CRIMINAL DAMAGE    29044
Name: Primary Type, dtype: int64

In [627]:
#crimes = ["THEFT", "BATTERY", "CRIMINAL DAMAGE"]
#number_crimes = [61746, 48002, 28697]
#x_axis = np.arange(len(number_crimes))

#plt.bar(x_axis, number_crimes, color="r", align="center")

#tick_locations = [value for value in x_axis]
#plt.xticks(tick_locations, crimes)

#plt.xlim(-0.75, len(x_axis)-0.25)

#plt.title("Crimes of Chicago in 2017")
#plt.xlabel("Crimes")
#plt.ylabel("Number of Crimes")


#plt.savefig("Crimes of Chicago in 2017.png")

In [628]:
crimes_2018 = crimes_df.loc[crimes_df["Year"] == 2018]
crimes_2018

          Date Primary Type  Year
142662  Sep-18        THEFT  2018
142663  Feb-18        THEFT  2018
142664  Jan-18        THEFT  2018
142665  Feb-18        THEFT  2018
142666  Jun-18        THEFT  2018
...        ...          ...   ...
285589  Dec-18      BATTERY  2018
285590  Dec-18        THEFT  2018
285591  Dec-18      BATTERY  2018
285592  Nov-18        THEFT  2018
285593  Aug-18      BATTERY  2018

[142932 rows x 3 columns]

In [587]:
crime_2018 = pd.value_counts(crimes_2018["Primary Type"])
crime_2018

THEFT                                62467
BATTERY                              48545
CRIMINAL DAMAGE                      27463
ASSAULT                              19742
DECEPTIVE PRACTICE                   17746
OTHER OFFENSE                        16821
NARCOTICS                            12715
BURGLARY                             11430
MOTOR VEHICLE THEFT                   9832
ROBBERY                               9358
CRIMINAL TRESPASS                     6824
WEAPONS VIOLATION                     5409
OFFENSE INVOLVING CHILDREN            2028
PUBLIC PEACE VIOLATION                1352
INTERFERENCE WITH PUBLIC OFFICER      1298
CRIM SEXUAL ASSAULT                   1280
SEX OFFENSE                            999
PROSTITUTION                           715
ARSON                                  351
LIQUOR LAW VIOLATION                   265
GAMBLING                               198
STALKING                               196
KIDNAPPING                             170
INTIMIDATION                           163
CONCEALED CARRY LICENSE VIOLATION      145
OBSCENITY                               81
NON-CRIMINAL                            35
CRIMINAL SEXUAL ASSAULT                 34
PUBLIC INDECENCY                        13
HUMAN TRAFFICKING                       12
HOMICIDE                                10
NON-CRIMINAL (SUBJECT SPECIFIED)         3
OTHER NARCOTIC VIOLATION                 1
Name: Primary Type, dtype: int64

In [588]:
#crimes = ["THEFT", "BATTERY", "CRIMINAL DAMAGE"]
#number_crimes = [62467, 48545, 27463]
#x_axis = np.arange(len(number_crimes))

#plt.bar(x_axis, number_crimes, color="g", align="center")

#tick_locations = [value for value in x_axis]
#plt.xticks(tick_locations, crimes)

#plt.xlim(-0.75, len(x_axis)-0.25)

#plt.title("Crimes of Chicago in 2018")
#plt.xlabel("Crimes")
#plt.ylabel("Number of Crimes")

#plt.savefig("Crimes of Chicago in 2018.png")

In [589]:
crimes_2019 = crimes_df[crimes_df["Year"] == 2019]
crimes_2019

,ID,Date,IUCR,Primary Type,Description,Arrest,Year,Latitude,Longitude
518929,11552667,Jan-19,890,THEFT,FROM BUILDING,False,2019,41.889453,-87.627995
518930,11552674,Jan-19,910,MOTOR VEHICLE THEFT,AUTOMOBILE,False,2019,41.726566,-87.636066
518931,11552709,Jan-19,486,BATTERY,DOMESTIC BATTERY SIMPLE,False,2019,41.812780,-87.691894
518932,11552758,Jan-19,1310,CRIMINAL DAMAGE,TO PROPERTY,False,2019,41.778565,-87.665464
518933,11553168,Jan-19,890,THEFT,FROM BUILDING,False,2019,41.898768,-87.624116
...,...,...,...,...,...,...,...,...,...
614897,12006739,Dec-19,2017,NARCOTICS,MANUFACTURE / DELIVER - CRACK,True,2019,41.875812,-87.750410
614898,12007706,Dec-19,2014,NARCOTICS,MANUFACTURE / DELIVER - HEROIN (WHITE),True,2019,41.878588,-87.745876
614899,12006723,Dec-19,2024,NARCOTICS,POSSESS - HEROIN (WHITE),True,2019,41.860110,-87.726214
614900,12007713,Dec-19,2014,NARCOTICS,MANUFACTURE / DELIVER - HEROIN (WHITE),True,2019,41.897323,-87.712062
614901,12018192,Dec-19,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,2019,41.707705,-87.534078

In [590]:
crime_2019 = pd.value_counts(crimes_2019["Primary Type"])
crime_2019

THEFT                                22087
BATTERY                              18599
CRIMINAL DAMAGE                      10020
ASSAULT                               7827
OTHER OFFENSE                         6857
DECEPTIVE PRACTICE                    6290
NARCOTICS                             5743
BURGLARY                              3480
MOTOR VEHICLE THEFT                   3455
ROBBERY                               2798
CRIMINAL TRESPASS                     2684
WEAPONS VIOLATION                     2368
OFFENSE INVOLVING CHILDREN             833
PUBLIC PEACE VIOLATION                 626
INTERFERENCE WITH PUBLIC OFFICER       551
SEX OFFENSE                            382
CRIM SEXUAL ASSAULT                    339
PROSTITUTION                           228
ARSON                                  128
STALKING                                83
CONCEALED CARRY LICENSE VIOLATION       75
LIQUOR LAW VIOLATION                    71
KIDNAPPING                              69
INTIMIDATION                            68
CRIMINAL SEXUAL ASSAULT                 47
GAMBLING                                26
OBSCENITY                               14
HUMAN TRAFFICKING                        5
HOMICIDE                                 4
NON-CRIMINAL                             2
OTHER NARCOTIC VIOLATION                 2
PUBLIC INDECENCY                         1
Name: Primary Type, dtype: int64

In [591]:
#crimes = ["THEFT", "BATTERY", "CRIMINAL DAMAGE"]
#number_crimes = [22087, 18599, 10020]
#x_axis = np.arange(len(number_crimes))

#plt.bar(x_axis, number_crimes, color="orange", align="center")

#tick_locations = [value for value in x_axis]
#plt.xticks(tick_locations, crimes)

#plt.xlim(-0.75, len(x_axis)-0.25)

#plt.title("Crimes of Chicago in 2019")
#plt.xlabel("Crimes")
#plt.ylabel("Number of Crimes")

#plt.savefig("Crimes of Chicago in 2019.png")

In [592]:
crimes_2020 = crimes_df[crimes_df["Year"] == 2020]
crimes_2020

,ID,Date,IUCR,Primary Type,Description,Arrest,Year,Latitude,Longitude
614902,12016034,Jan-20,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,2020,41.915306,-87.686639
614903,12220321,Jan-20,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,False,2020,41.728192,-87.600985
614904,12013828,Jan-20,281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,False,2020,41.812274,-87.748177
614905,12019692,Jan-20,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,2020,41.940222,-87.669039
614906,12016436,Jan-20,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,False,2020,41.795247,-87.643584
...,...,...,...,...,...,...,...,...,...
622939,12244533,Dec-20,910,MOTOR VEHICLE THEFT,AUTOMOBILE,False,2020,41.747732,-87.596278
622940,12244538,Dec-20,430,BATTERY,AGGRAVATED - OTHER DANGEROUS WEAPON,False,2020,41.734762,-87.670552
622941,12244522,Dec-20,291,CRIMINAL SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,False,2020,41.772285,-87.625115
622942,12244553,Dec-20,486,BATTERY,DOMESTIC BATTERY SIMPLE,False,2020,41.766052,-87.672353
622943,12244513,Dec-20,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,False,2020,41.790755,-87.739927

In [593]:
crime_2020 = pd.value_counts(crimes_2020["Primary Type"])
crime_2020

BATTERY                              1727
THEFT                                1455
CRIMINAL DAMAGE                      1003
ASSAULT                               716
DECEPTIVE PRACTICE                    545
BURGLARY                              508
OTHER OFFENSE                         468
MOTOR VEHICLE THEFT                   365
ROBBERY                               326
WEAPONS VIOLATION                     306
NARCOTICS                             218
CRIMINAL TRESPASS                     136
OFFENSE INVOLVING CHILDREN             54
SEX OFFENSE                            41
CRIMINAL SEXUAL ASSAULT                33
PUBLIC PEACE VIOLATION                 30
INTERFERENCE WITH PUBLIC OFFICER       20
ARSON                                  12
STALKING                               11
KIDNAPPING                              6
INTIMIDATION                            6
CONCEALED CARRY LICENSE VIOLATION       3
LIQUOR LAW VIOLATION                    2
GAMBLING                                2
OBSCENITY                               1
Name: Primary Type, dtype: int64

In [594]:
#crimes = ["THEFT", "BATTERY", "CRIMINAL DAMAGE"]
#number_crimes = [1727, 1455, 1003]
#x_axis = np.arange(len(number_crimes))

#plt.bar(x_axis, number_crimes, color="pink", align="center")

#tick_locations = [value for value in x_axis]
#plt.xticks(tick_locations, crimes)

#plt.xlim(-0.75, len(x_axis)-0.25)

#plt.title("Crimes of Chicago in 2020")
#plt.xlabel("Crimes")
#plt.ylabel("Number of Crimes")

#plt.savefig("Crimes of Chicago in 2020.png")

In [595]:
crimes_2021 = crimes_df[crimes_df["Year"] == 2021]
crimes_2021

,ID,Date,IUCR,Primary Type,Description,Arrest,Year,Latitude,Longitude
622948,12345411,Jan-21,1320,CRIMINAL DAMAGE,TO VEHICLE,False,2021,41.827682,-87.665496
622949,12449065,Jan-21,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,False,2021,41.712933,-87.536489
622950,12346533,Jan-21,5000,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,False,2021,41.729448,-87.563365
622951,12265790,Jan-21,1020,ARSON,BY FIRE,True,2021,41.973401,-87.672166
622952,12346662,Jan-21,810,THEFT,OVER $500,False,2021,41.851989,-87.689219
...,...,...,...,...,...,...,...,...,...
624460,12541107,Nov-21,560,ASSAULT,SIMPLE,False,2021,42.015416,-87.664883
624461,12541124,Nov-21,031A,ROBBERY,ARMED - HANDGUN,False,2021,41.855887,-87.672034
624462,12541099,Nov-21,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,True,2021,41.886320,-87.750388
624464,12565821,Dec-21,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,False,2021,41.753274,-87.652598
624465,12571973,Dec-21,460,BATTERY,SIMPLE,True,2021,41.816657,-87.695689

In [596]:
crime_2021 = pd.value_counts(crimes_2021["Primary Type"])
crime_2021

BATTERY                              316
THEFT                                301
CRIMINAL DAMAGE                      214
ASSAULT                              143
DECEPTIVE PRACTICE                   103
OTHER OFFENSE                         92
WEAPONS VIOLATION                     77
MOTOR VEHICLE THEFT                   56
ROBBERY                               49
BURGLARY                              39
NARCOTICS                             27
CRIMINAL TRESPASS                     19
CRIMINAL SEXUAL ASSAULT               17
OFFENSE INVOLVING CHILDREN            17
SEX OFFENSE                            7
ARSON                                  6
PUBLIC PEACE VIOLATION                 6
INTIMIDATION                           3
STALKING                               2
KIDNAPPING                             1
CONCEALED CARRY LICENSE VIOLATION      1
OBSCENITY                              1
Name: Primary Type, dtype: int64

In [597]:
#crimes = ["THEFT", "BATTERY", "CRIMINAL DAMAGE"]
#number_crimes = [316, 301, 214]
#x_axis = np.arange(len(number_crimes))

#plt.bar(x_axis, number_crimes, color="purple", align="center")

#tick_locations = [value for value in x_axis]
#plt.xticks(tick_locations, crimes)

#plt.xlim(-0.75, len(x_axis)-0.25)

#plt.title("Crimes of Chicago in 2021")
#plt.xlabel("Crimes")
#plt.ylabel("Number of Crimes")

#plt.savefig("Crimes of Chicago in 2021.png")

In [598]:
x_axis = [1, 2, 3, 4, 5]
labels = ["2017", "2018", "2019", "2020", "2021"]

In [599]:
theft = [64380, 65282, 62480, 41304, 40758]
battery_crimes = [49238, 49827, 49510, 41506, 40450]
criminal_damage = [29044, 27823, 26681, 24877, 25091]

In [600]:
theft, = plt.plot(x_axis, theft, marker="+",color="blue", linewidth=1, label="theft")
battery_crimes, = plt.plot(x_axis, battery_crimes, marker="s", color="red", linewidth=1, label="battery crimes")
criminal_damage, = plt.plot(x_axis, criminal_damage, marker="o",color="green", linewidth=1, label="criminal damage")

plt.legend(handles=[theft, battery_crimes, criminal_damage], loc="best")

plt.xlabel("Years")
plt.ylabel("Number of Crimes")

plt.xticks(x_axis, labels)

plt.savefig("Crimes of Chicago Between 2017-2021.png")

In [607]:
top_3 = pd.DataFrame({
    "Year": [2017, 2017, 2107, 2018, 2018, 2018, 2019, 2019, 2019, 2020, 2020, 2020, 2021, 2021, 2021],
    "Crime Type": ["Theft", "Battery Crimes", "Criminal Damage", "Theft", "Battery Crimes", "Criminal Damage", "Theft", "Battery Crimes", "Criminal Damage", "Theft", "Battery Crimes", "Criminal Damage", "Theft", "Battery Crimes", "Criminal Damage"],
    "Crime Total": [64380, 49238, 29044, 65282, 49827, 27823, 62480, 49510, 26681, 41304, 41506, 24877, 40758, 40450, 25091]
})

top_3

    Year       Crime Type  Crime Total
0   2017            Theft        64380
1   2017   Battery Crimes        49238
2   2107  Criminal Damage        29044
3   2018            Theft        65282
4   2018   Battery Crimes        49827
5   2018  Criminal Damage        27823
6   2019            Theft        62480
7   2019   Battery Crimes        49510
8   2019  Criminal Damage        26681
9   2020            Theft        41304
10  2020   Battery Crimes        41506
11  2020  Criminal Damage        24877
12  2021            Theft        40758
13  2021   Battery Crimes        40450
14  2021  Criminal Damage        25091

In [608]:
top_3 = top_3.set_index(["Year"])
top_3

           Crime Type  Crime Total
Year
2017            Theft        64380
2017   Battery Crimes        49238
2107  Criminal Damage        29044
2018            Theft        65282
2018   Battery Crimes        49827
2018  Criminal Damage        27823
2019            Theft        62480
2019   Battery Crimes        49510
2019  Criminal Damage        26681
2020            Theft        41304
2020   Battery Crimes        41506
2020  Criminal Damage        24877
2021            Theft        40758
2021   Battery Crimes        40450
2021  Criminal Damage        25091

In [609]:
top_3["Crime Total"] = top_3["Crime Total"].map("{:,}".format)

top_3

           Crime Type Crime Total
Year
2017            Theft      64,380
2017   Battery Crimes      49,238
2107  Criminal Damage      29,044
2018            Theft      65,282
2018   Battery Crimes      49,827
2018  Criminal Damage      27,823
2019            Theft      62,480
2019   Battery Crimes      49,510
2019  Criminal Damage      26,681
2020            Theft      41,304
2020   Battery Crimes      41,506
2020  Criminal Damage      24,877
2021            Theft      40,758
2021   Battery Crimes      40,450
2021  Criminal Damage      25,091

In [610]:
theft_trend = top_3[top_3["Crime Type"] == "Theft"]
theft_trend

theft_trend.to_csv("Theft Trend in Chicago from 2017-2021.csv", index=True, header=True)

In [611]:
battery_trend = top_3[top_3["Crime Type"] == "Battery Crimes"]
battery_trend

battery_trend.to_csv("Battery Trend in Chicago from 2017-2021.csv", index=True, header=True)

In [612]:
criminal_trend = top_3[top_3["Crime Type"] == "Criminal Damage"]
criminal_trend

criminal_trend.to_csv("Criminal Trend in Chicago from 2017-2021.csv", index=True, header=True)